fastapi
uvicorn[standard]
pydantic-settings
ultralytics
opencv-python-headless
easyocr
httpx
sqlalchemy[asyncio]
asyncpg
numpy
python-multipart
supervision
torch
torchvision
Pillow
pytorch_lightning
timm
pytest
pytest-asyncio
httpx
